<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>820210742731-gtvh9mpejgklv8p8t1fur7gdq8m6kh6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820210742731-gtvh9mpejgklv8p8t1fur7gdq8m6kh6b</string>
	<key>API_KEY</key>
	<string>AIzaSyDt8_4Iw7WIpX_nz0Yvch-D8jmn-_JoYgs</string>
	<key>GCM_SENDER_ID</key>
	<string>820210742731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-6042-Koder.CrowdCounter</string>
	<key>PROJECT_ID</key>
	<string>crowd-counter</string>
	<key>STORAGE_BUCKET</key>
	<string>crowd-counter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820210742731:ios:b241ab51da2214f4</string>
	<key>DATABASE_URL</key>
	<string>https://crowd-counter.firebaseio.com</string>
</dict>
</plist>